@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Use this space to summarize your privacy and cookie use policy. <a asp-page="/Privacy">Learn More</a>.
        <button type="button" class="accept-policy close" data-bs-dismiss="alert" aria-label="Close"  onclick="acceptCookie('@cookieString')">Accept</button>
    </div>
}

<script>
    function acceptCookie(cookieString) {
        document.cookie = cookieString;
        document.getElementById("cookieConsent").style.display = "none"; // Hide the banner after accepting the cookie
    }

    // Check if the cookie has been accepted and hide the banner if necessary
    window.onload = function() {
        var consentCookie = document.cookie.includes("YourConsentCookieNameHere");
        if (consentCookie) {
            document.getElementById("cookieConsent").style.display = "none";
        }
    };
</script>
